/* global ------------------------------------------------------------------------------ */

@font-face {
    font-family: 'Prime';
    src: url('prime/Prime-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter/static/Inter-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-repeat: no-repeat; */
  background: -webkit-linear-gradient(top, #023047, #219EBC);
  background: -moz-linear-gradient(top, #023047, #219EBC);
  background: -ms-linear-gradient(top, #023047, #219EBC);
  background: -o-linear-gradient(top, #023047, #219EBC);
  background: linear-gradient(to bottom, #023047, #219EBC);
  z-index: -1;
}

/* body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #023047, #219EBC);
  background-attachment: cover;
  background-repeat: no-repeat;
} */

/* body {
    background-image: linear-gradient(#023047, #219EBC);
    height: 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
} */

.PrimeTitle {
    font-family: 'Prime';
    font-weight: 1000;
    /* font-style: oblique; */
    font-size: 6rem;
    color: #ffdbb3;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
    line-height: 1;  
    margin-top: 35px;
}

.InterTitle {
    font-family: 'Inter';
    font-size: 3rem;
    color: #ffdbb3;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
    line-height: 1; 
}

.section-title {
  font-family: 'Prime';
  font-weight: 900;
  font-size: 3.5rem;
  color: #ffdbb3;
}

/* ensuring each "section" takes up the full screen on a laptop */
.fullscreen-section {
  height: 100vh;
  background: transparent;
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  text-align: center; */
}

  p {
    color: #ffdbb3;
  }

/* header navbar ------------------------------------------------------------------------- */
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    padding: 3rem;
    width:100%
  }

  nav.nav-border {
    min-height: 4rem;
    padding: 3rem;
    border: 2px solid #ffdbb3; 
    border-radius: 50px; 
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 25px;
    width: 83%;
    height: 75px;
}
  
/*   .nav-logo img {
    max-height: 3rem;
    margin-left: 1rem;
  } */
  
/*   .mlh-badge,
  .mlh-img {
    display: block;
    width: 5em;
    position: absolute;
    top: 0;
    right: 1rem;
  }
   */

  .nav-link a {
    color: #ffdbb3;
  }
  
  .nav-links {
    text-align: center;
    justify-content: center;
  }
  
  .nav-link-ham {
    display: none;
    z-index: 100;
    width: 48px;
    height: 48px;
  }
  
  .nav-link-ham:hover {
    cursor: pointer;
  }
  
  .mobile-nav-links {
    background-color: #ffdbb3;
    padding: 1rem;
    margin-top: 5rem;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    visibility: hidden;
  }


  /* Home ------------------------------------------------------------------------- */
  .HomeIntro {
    text-align: right;
    margin-right: 80px; 
}

  /* About ------------------------------------------------------------------------- */

  #about {
    text-align: left;
    margin-left: 180px;
    max-width: 33%;
  }
  
/* Theme ------------------------------------------------------------------------- */

  #theme {
    text-align: right;
    margin-left: auto;
    margin-right: 180px;
    max-width: 33%;
  }


  /* #theme { */
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    /* text-align: left;
    margin-left: auto;
    margin-left: 200px;  
    max-width: 33%; */
    /* box-sizing: border-box; */
  /* } */









  /* for other screen sizes (mobile)  -   fix later */
@media (max-width: 700px) {
  .nav-logo {
    display: none;
    visibility: hidden;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-link-ham {
    display: block !important;
    border: none;
    background: none;
  }

  /* .nav-link a {
    color: white !important;
  } */

}