/* global ------------------------------------------------------------------------------ */

@font-face {
    font-family: 'P22 Basala';
    src: url('https://cdn.glitch.global/928388c8-f583-4b01-b1f3-2ed52e510f18/fonnts.com-P22_Basala.otf?v=1722113288133') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fredoka';
    src: url('https://cdn.glitch.global/928388c8-f583-4b01-b1f3-2ed52e510f18/Fredoka-VariableFont_wdth%2Cwght.ttf?v=1722113441822') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('https://cdn.glitch.global/928388c8-f583-4b01-b1f3-2ed52e510f18/Poppins-Bold.ttf?v=1722113504917') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('https://cdn.glitch.global/928388c8-f583-4b01-b1f3-2ed52e510f18/Poppins-Regular.ttf?v=1722113497826') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.glitch.global/0b7550b6-a34a-456a-aa8a-a4dd9f654d83/gradient.png?v=1721263599136");
  background-size: cover !important;
  background-attachment: local;
  overflow-x: hidden;
}

.HeadTitle {
    font-family: 'P22 Basala';
    font-weight: 1000;
    font-size: 6rem;
    color: #F5A9B0;
    line-height: 1;  
    margin-top: 35px;
}

.PoppinsBold {
    font-family: 'Poppins Bold';
    font-size: 2rem;
    color: #ffffff;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
    line-height: 1; 
}

.section-title {
  font-family: 'Fredoka';
  font-weight: 900;
  font-size: 3.5rem;
  color: #ffffff;
  text-shadow: 4px 4px 50px #B1E6FF;
}

.wave {
    width: 80%;
    margin-left: -600px;
}

/* ensuring each "section" takes up the full screen on a laptop */
.fullscreen-section {
  height: 100vh;
  background: transparent;
}

p {
  color: white;
}

/* for other screen sizes */
@media (max-width: 700px) {
  .nav-logo {
    display: none;
    visibility: hidden;
  }
  .nav-links {
    display: none;
    visibility: hidden;
    /* justify-content: center; */
  }

  .nav-link-ham {
    display: block !important;
    border: none;
    background: none;
  }

  .nav-link a {
    color: white !important;
  }

  #clockdiv {
    font-size: 12vw !important;
  }

  .smalltext {
    font-size: 2vw !important;
    margin-top: -1rem !important;
  }

  .faqcard {
    max-width: 70vw;
  }

  .question {
    max-width: 50vw !important;
  }

  #team {
    margin: 1rem;
  }

  .teammembers {
    height: 20rem !important;
  }

  .member,
  .hoverinfo,
  .memberimg {
    width: 8rem !important;
    height: 8rem !important;
    background-size: 8rem !important;
    border-radius: 8rem !important;
    font-size: 0.75rem;
  }

  .hoverinfo {
    margin-top: -8.5rem !important;
  }

  .faq-whale {
    margin-top: -10rem !important;
    max-width: 100% !important;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .theme-rectangle {
    width: 90vw !important;
  }

  .theme-whale-logo {
    margin-top: 0 !important;
    margin-right: 0 !important;
    max-width: 100vw !important;
  }

  .rectangle {
    max-width: 80vw !important;
  }

  .theme-rectangle .col-auto {
    max-width: 5rem;
    justify-content: center;
  }
  
  #about h6 {
  right:5%!important;
}
}

/* header navbar ------------------------------------------------------------------------- */
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    padding: 3rem;
    width:100%
  }

  nav.nav-border {
    min-height: 4rem;
    padding: 3rem;
    border: 2px solid #f5a9b0; 
    border-radius: 50px; 
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 25px;
    width: 83%;
    height: 75px;
}
  
.nav-logo img {
    max-height: 2.5rem;
    margin-left: 1rem;
  } 
  
/*   .mlh-badge,
  .mlh-img {
    display: block;
    width: 5em;
    position: absolute;
    top: 0;
    right: 1rem;
  }
   */

  .nav-link a {
    color: #f5a9b0;
  }
  
  .nav-links {
    text-align: center;
    justify-content: center;
  }
  
  .nav-link-ham {
    display: none;
    z-index: 100;
    width: 48px;
    height: 48px;
  }
  
  .nav-link-ham:hover {
    cursor: pointer;
  }
  
  .mobile-nav-links {
    background-color: #f5a9b0;
    padding: 1rem;
    margin-top: 5rem;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    visibility: hidden;
  }


  /* Home ------------------------------------------------------------------------- */
  .HomeIntro {
    text-align: right;
    margin-right: 80px; 
}

.whale {
  max-height: 65%;
  width: auto;
  padding: 1em;
  margin-top: -325px;
}


  /* About ------------------------------------------------------------------------- */

  #about {
    text-align: left;
    margin-left: 180px;
    max-width: 33%;
    margin-top: 6em;
  }

.compGIF {
    display: block;
    justify-content: right;
    width: 65%;
}

/* Theme ------------------------------------------------------------------------- */

  #theme {
    text-align: right;
    margin-left: auto;
    margin-right: 180px;
    max-width: 33%;
  }

/* Schedule ------------------------------------------------------------------------- */

  #schedule {
    margin: 0 auto;
    max-width: 80%;
  }

  h3 {
    font-size: 1.2rem !important;
    font-family: "Poppins Bold" !important;
    text-align: center;
    font-weight: 700 !important;
    color: #8ecbe7 !important;
  }

  .schedulebox {
    font-family: "Poppins Regular";
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
  }
  
  .schedulebox span {
    font-size: 0.8rem;
  }
  
  .schedulebox li {
    font-style: italic;
    font-size: 0.8rem;
  }
  
  .schedulebox .row {
    margin: 1rem;
  }
  
  .schedhead {
    font-weight: 700 !important;
  }
  
  #schedule {
    margin-bottom:12rem;
  }

  /* #theme { */
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    /* text-align: left;
    margin-left: auto;
    margin-left: 200px;  
    max-width: 33%; */
    /* box-sizing: border-box; */
  /* } */


/* faq ------------------------------------------------------------------------- */

#faq {
  margin-top: 5rem;
  margin-bottom: 3rem;
  max-width: 60rem;
  align-items: center;
  justify-content: center;
}


#faq button {
  text-align: left;
  border: none;
}

#faq .col-auto {
  margin-left: 1rem;
  margin-right: 1rem;
}

.faqtitle {
  font-family: "Poppins Bold";
  color: #304a8b;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.faqcard {
  width: 25rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.6);;
  margin-bottom: 1.5rem;
  /* box-shadow: 0px 3px 2px gray; */
}

.question {
  font-family: "Poppins Bold";
  color: rgb(33, 37, 41);;
  font-weight: 600;
  font-size: 1.2rem;
}

.answer {
  font-family: "Poppins Regular";
  margin-top: 0.25rem;
  color: #304a8b;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  display: none;
  padding: 0.5rem;
}

.drop {
  position: absolute;
  right: 1rem;
  margin-top: -1.7rem;
}

.faqcard:hover {
  cursor: pointer;
}

.faqcard a,
.email-blurb a {
  font-weight: 500;
  color: white;
}

.email-blurb {
  margin-top: 2rem;
  font-weight: 500;
  color: white;
  max-width: 20rem;
  text-align: center;
}


/* meet the team ------------------------------------------------------------------------ */
#team {
  margin-bottom: 10rem;
  margin: auto;
}

#team button {
  border: none;
}

.teamtitle {
  background-color: white;
  color: black;
  font-family: "Inter";
  font-weight: 600;
  font-size: 1rem;
  padding: 0.2rem;
  border-radius: 1rem;
  margin: 0.5rem;
}

.teamtitle:hover {
  cursor: pointer;
}

.teammembers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 24rem;
  overflow-x: auto;
  overflow-y: hidden;
  align-content: flex-start;
  scrollbar-width: auto;
  scrollbar-color: transparent #ffffff;
}

.member,
.hoverinfo,
.memberimg {
  width: 10rem;
  height: 10rem;
  background-size: 10rem;
  border-radius: 10rem;
  text-align: center;
  white-space: pre-line;
  margin: 0.5rem;
  display: inline-block;
}

.memberimg {
  object-fit: cover;
}

.hoverinfo {
  background-color: black;
  opacity: 0.75;
  margin-top: -10.5rem;
  color: white;
  align-items: center;
  justify-content: center;
  display: none;
  line-height: 1.25rem;
}

/* sponsors ------------------------------------------------------------------------------ */
#sponsors {
  align-items: center;
  justify-content: center;
  margin-bottom: 15rem;
  margin-top: 20rem;
}

.sponsors-title {
  font-family: "Inter";
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  /*   margin-bottom:3rem; */
}

#sponsors .col-auto,
#sponsors .row {
  align-items: center;
  justify-content: center;
}

.rectangle {
  display: flex;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.25);
  margin: 0.5rem;

  text-align: center;
  align-items: center;
  color: white;
  justify-content: center;
}

.bronze {
  height: 5rem;
  padding: 1rem;
}

.rectangle img {
  max-height: 100%;
  max-width:100%;
}

.silver {
  height: 10rem;
  padding: 1.2rem;
}


.sponsor-blurb {
  color: white;
  margin-top: 3rem;
  text-align: center;
}

.sponsor-blurb a {
  color: white;
  font-weight: 700;
}

.sponsor-blurb a:hover {
  color: white;
}

  /* for other screen sizes (mobile)  -   fix later */
@media (max-width: 700px) {
  .nav-logo {
    display: none;
    visibility: hidden;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-link-ham {
    display: block !important;
    border: none;
    background: none;
  }

  /* .nav-link a {
    color: white !important;
  } */

}
